<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
    <machineKey validationKey ="41B140D9F71DCAB1EAF9BECFF3265445ED86B78D3F924343ECFD2E389B12B16934AD157F425B65E7D091CFD234F339ADEE0493BC1E092C7EFDB39B97936DD7BB" 
                decryptionKey= "A0491EF539016141E4C30EF6727BA55FFB553CDA3BD8A03C" 
                validation="SHA1"/>
    
    <compilation debug="true" targetFramework="4.5.2"/>
    
    <httpRuntime targetFramework="4.5.2"/>
    
    <authentication mode="Forms">
      <forms
        loginUrl="~/Default.aspx"
        defaultUrl="~/Default.aspx"
        enableCrossAppRedirects="true"
        domain=""
        name=".APPCOOKIE"
        slidingExpiration="true"
        protection="None"
        requireSSL="false"
        timeout="100"/>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
</configuration>